*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --green: #06942A33;
    --header-gray:#E5E5E5;
    --black: #3F403F;
    --btn-mini: #F4F5F9;


}
/* html{
    font-size: 65%;
} */
body {
    background: #fff;
    outline: none;
    transition: .2s linear;
}
a{
text-decoration: none;
}


